<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true">
    <mat-nav-list>
      <a mat-list-item routerLink="/signup" (click)="sidenav.close()"><mat-icon>person</mat-icon>Signup</a>
      <a mat-list-item routerLink="/login" (click)="sidenav.close()"><mat-icon>login</mat-icon>Login</a>
      <a mat-list-item routerLink="/" (click)="sidenav.close()"><mat-icon>shopping_bag</mat-icon>Browse shop</a>
      <a mat-list-item routerLink="/order" (click)="sidenav.close()"><mat-icon>explore</mat-icon>Your orders</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <a routerLink="/"><div class="logo">
        <mat-icon>mouse</mat-icon>
        <h1>Computer shop</h1>
      </div></a>
      <div fxFlex fxLayoutAlign="end" fxLayoutGap="20px" fxHide.xs>
        <a routerLink="/">Browse shop</a>
        <a routerLink="/order">Your Orders</a>
        <a routerLink="/signup">Signup</a>
        <a routerLink="/login">Login</a>
        <button mat-flat-button color="accent" (click)="openProfile(this.userService.currentUser.id)">Profile</button>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

